<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h1 style="color: rgb(5, 5, 194);">Simple Form</h1>
    <form action="home" method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form><br><br><hr>
    <table>
       
        <tr>
        <th>Sl.No</th>
        <th>Name</th>
        <th>Age </th>
        
    </tr>
    {% for data in forms %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{data.Name}}</td>
        <td>{{data.Age}}</td>
    </tr>
    
    {%  endfor %}
    </table>
    
</body>
</html>